<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="header">
        <a href="/"><h1>GESTÃO DE ESTOQUE</h1></a>
    </div>
    <div class="formulario" id="div_formulario">
        <h2>Adicionar Produto</h2>
        <form class="formulario" method="POST">
            <div class="formulario" id="form_inputs">
                <!--NOME-->
                <input id="input_nome" type="text" name="input_nome" placeholder="Nome">
                <!--CATEGORIA-->
                <input id="input_categoria" type="text" name="input_categoria" placeholder="Categoria">
                <!--TIPO-->
                <input id="input_tipo" type="text" name="input_tipo" placeholder="Tipo">
                <!--PREÇO-->
                <input id="input_preco" type="number" name="input_preco" placeholder="Preço">
                <!--QTD. EM ESTOQUE-->
                <input id="input_qtd_estoque" type="number" name="input_qtd_estoque" placeholder="Qtd em Estoque">
                <!--QTD. MÍNIMA P/ ESTOQUE-->
                <input id="input_qtd_estoque_minima" type="number" name="input_qtd_estoque_minima" placeholder="Qtd Mínima p/ Estoque">
            </div>
            <div id="form_btn_adicionar">
                <button id="input_btn_adicionar" name="input_btn_adicionar" type="submit">Adicionar</button>
            </div>
        </form>
    </div>
</body>
</html>